body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.publish{
    margin-bottom: 30px;
    float: right;
}
.error{
    text-align: center;
}

.d_btn{
    text-align: center;
}